Repository luca-borrione/webnd-project4-evaluate-news-nlp: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, linthtml, eslint --fix, jest --bail --findRelatedTests, prettier-package-json --write

chore: adding dotenv & .env
  package.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

feat: importing the starter code from udacity
  .babelrc
  .eslintrc.yml
  .gitignore
  .lintstagedrc.yaml
  README.md
  REQUIREMENTS.md
  package.json
  src/client/index.js
  src/client/js/formHandler.js
  src/client/js/nameChecker.js
  src/client/styles/base.css
  src/client/styles/form.css
  src/client/styles/header.css
  src/client/styles/resets.css
  src/client/views/index.html
  src/server/index.js
  src/server/mockAPI.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Due: stylelint --fix, prettier --write, linthtml, eslint --fix, jest --bail --findRelatedTests, prettier-package-json --write

chore: adding webpack loaders and plugins; adding sass
  .nvmrc
  package.json
  src/client/index.js
  src/client/js/formHandler.js
  src/client/js/nameChecker.js
  src/client/styles/base.scss
  src/client/styles/form.scss
  src/client/styles/header.scss
  src/client/styles/resets.scss
  src/client/views/index.html
  src/server/index.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Due: prettier --write, linthtml, eslint --fix, jest --bail --findRelatedTests, prettier-package-json --write

chore: adding webpack optimisation
  package.json
  webpack.prod.js
  yarn.lock
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests, prettier-package-json --write

feat: setting up the express server
  .eslintrc.yml
  package.json
  src/server/index.js
  yarn.lock
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests, prettier-package-json --write

feat: adding sass styling
  .eslintrc.yml
  package.json
  src/client/assets/ai.jpg
  src/client/index.js
  src/client/js/nameChecker.js
  src/client/styles/_config.scss
  src/client/styles/_mixins.scss
  src/client/styles/base.scss
  src/client/styles/footer.scss
  src/client/styles/form.scss
  src/client/styles/header.scss
  src/client/styles/resets.scss
  src/client/styles/results.scss
  src/client/views/index.html
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Due: prettier --write, linthtml, eslint --fix, jest --bail --findRelatedTests, prettier-package-json --write

feat: connecting the app with the npl api
  .eslintrc.yml
  README.md
  package.json
  src/client/index.js
  src/client/js/formHandler.js
  src/client/js/nameChecker.js
  src/client/js/utils/controller-utils.js
  src/client/js/utils/error-utils.js
  src/client/js/utils/index.js
  src/client/js/utils/url-validator.js
  src/client/views/index.html
  src/server/api-routes-controller.js
  src/server/api-routes.js
  src/server/index.js
  src/server/mockAPI.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Due: prettier --write, linthtml, eslint --fix, jest --bail --findRelatedTests, prettier-package-json --write

feat: displaying the npl results
  src/client/assets/loader.gif
  src/client/index.js
  src/client/js/app-controller.js
  src/client/js/app-view.js
  src/client/js/formHandler.js
  src/client/styles/form.scss
  src/client/styles/results.scss
  src/client/views/index.html
Due: prettier --write, linthtml, eslint --fix, jest --bail --findRelatedTests

feat: adding service workers
  package.json
  src/client/js/app-view.js
  src/client/views/index.html
  webpack.prod.js
  yarn.lock
Due: prettier --write, linthtml, eslint --fix, jest --bail --findRelatedTests, prettier-package-json --write

chore: deploying to heroku
  Procfile
  README.md
  package.json
  src/server/index.js
  webpack.dev.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests, prettier-package-json --write

docs: updated the README and the REQUIREMENTS
  README.md
  REQUIREMENTS.md
Due: none

test: adding Jest and all the spec files
  .eslintrc.yml
  .lintstagedrc.yaml
  README.md
  __mocks__/public/index.html
  jest.config.js
  jest.setup.js
  package.json
  snapshotResolver.js
  src/client/js/app-controller.spec.js
  src/client/js/app-view.js
  src/client/js/app-view.spec.js
  src/client/js/utils/controller-utils.spec.js
  src/client/js/utils/error-utils.spec.js
  src/client/js/utils/index.js
  src/client/js/utils/selectors.js
  src/client/js/utils/url-validator.spec.js
  src/client/styles/form.scss
  src/client/views/index.html
  src/server/api-routes-controller.spec.js
  src/server/api-routes.spec.js
  src/server/api-routes.spec.js.snap
  src/server/index.spec.js
  src/server/index.spec.js.snap
  yarn.lock
Due: prettier --write, linthtml, eslint --fix, jest --bail --findRelatedTests, prettier-package-json --write

chore: add favicon
  src/client/assets/favicon.ico
  webpack.dev.js
  webpack.prod.js
Due: eslint --fix, jest --bail --findRelatedTests

refactor: refactoring sass files
  src/client/index.js
  src/client/styles/_footer.scss
  src/client/styles/_header.scss
  src/client/styles/_layout.scss
  src/client/styles/core/_mixins.scss
  src/client/styles/core/_variables.scss
  src/client/styles/header.scss
  src/client/styles/index.scss
  src/client/styles/main/_form.scss
  src/client/styles/main/_main.scss
  src/client/styles/main/_results.scss
  src/client/styles/resets.scss
Due: eslint --fix, jest --bail --findRelatedTests

chore: fixing linting for scss files
  .lintstagedrc.yaml
  .stylelintrc.yaml
  .vscode/settings.json
  package.json
  src/client/styles/_footer.scss
  src/client/styles/_header.scss
  src/client/styles/_layout.scss
  src/client/styles/core/_variables.scss
  src/client/styles/main/_form.scss
  src/client/styles/main/_main.scss
  src/client/styles/main/_results.scss
  yarn.lock
Due: prettier --write, prettier-package-json --write

chore: fix node modules dependencies
  package.json
  webpack.prod.js
  yarn.lock
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests, prettier-package-json --write

chore: fixing linting html scripts tasks
  package.json
Due: prettier --write, prettier-package-json --write

docs: trying to clarify better the commands to use to run the app in the readme
  README.md
Due: none

refactor: refactoring selectors in bem
  .stylelintrc.yaml
  src/client/assets/ai-npl.jpg
  src/client/assets/spinner.gif
  src/client/js/app-view.js
  src/client/js/app-view.spec.js
  src/client/js/utils/selectors.js
  src/client/styles/_header.scss
  src/client/styles/_layout.scss
  src/client/styles/main/_form.scss
  src/client/styles/main/_main.scss
  src/client/styles/main/_results.scss
  src/client/views/index.html
Due: prettier --write, linthtml, eslint --fix, jest --bail --findRelatedTests

Path conditions:
  stylelint --fix: any of: *.css
  prettier --write: (any of: *.html) or (any of: *.json)
  linthtml: any of: *.html
  eslint --fix: any of: *.js
  jest --bail --findRelatedTests: any of: *.js
  prettier-package-json --write: any of: package.json
